@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (min-width: 375px) {
    body
{
    background-image: url(huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
}

@media (min-width: 1440px) {
    body 
{
    background-image: url(huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --Poppins: 'Poppins', sans-serif;
    --Open-Sans:  'Open Sans', sans-serif;
}

body {
    font-family: var(--Open-Sans);
    color: #fff;
    
}

.header {
    font-family: var(--Poppins);
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.dropdown .nav {
    display: none;
    position: absolute;
    background-color: var(--Soft-Magenta);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);
}

.dropdown:hover .nav {
    display: flex;
    flex-direction: column;
    right: 10px;
}

.dropdown  a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;  
}





.logo {
    padding: 10px;
    margin: 10px;
}

.content { 
    display: flex;
    justify-content: space-around;

}

.content2 {
    display: flex;
    flex-direction: column;

}

.redes {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding: 10px;
}

.redes a {
    color: #fff;
    padding: 15px;
    width: 15px;
    height: 15px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;

}

.redes a:hover {
    color: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta);
}


.img {
   width: 50%;

}

.content2 h1 {
    font-size: 2em;
}

.content2 p {
    max-width: 450px;
    font-size: 1.2em;
}

.button {
    text-decoration: none;
    background-color: #fff;
    max-width: 150px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.342);
    transition: .5s;
}

.button:hover {
    background-color: var(--Soft-Magenta);
    color: #fff;
}